body { background: #2c3e50; color: white; font-family: sans-serif; display: flex; justify-content: center; padding: 20px; }
.game-container { text-align: center; }

.chess-wrapper { display: flex; justify-content: center; margin-bottom: 20px; }
.numbers { display: flex; flex-direction: column; justify-content: space-around; padding-right: 10px; font-weight: bold; }
.letters { display: flex; justify-content: space-around; padding-top: 5px; font-weight: bold; padding-left: 2px; }

.board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 5px solid #34495e;
}

.cell {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}
.cell.possible {
    background-color: rgba(46, 204, 113, 0.6) !important; /* Прозрачный зеленый */
    cursor: copy;
}
/* Цвета клеток */
.cell.white { background: #ecf0f1; }
.cell.black { background: #95a5a6; }

/* Подсветка */
.cell.selected { background: #f1c40f !important; }
.cell.possible { background: #2ecc71 !important; opacity: 0.8; }

.btn { padding: 10px 20px; cursor: pointer; background: #e67e22; border: none; color: white; border-radius: 5px; }

/* Стили для фигур */
.piece.white-p { color: #fff; text-shadow: 0 0 2px #000; }
.piece.black-p { color: #000; }