body {
    background: #eef2f3;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.game-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Реакция */
.reaction-area {
    height: 250px;
    background: #f0f0f0;
    position: relative;
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
}

.target-btn {
    position: absolute;
    display: none;
    padding: 10px 15px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Крестики-нолики */
.ttt-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background: #28a745;
    padding: 10px;
    border-radius: 10px;
    margin: 15px auto;
    width: 240px;
}

.cell {
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

/* Лабиринт */
.maze {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    justify-content: center;
    background: #2c3e50;
    padding: 5px;
}

.wall {
    background: #2c3e50;
}

.path {
    background: #ecf0f1;
    border: 0.1px solid #bdc3c7;
}

.player {
    background: #e74c3c;
    border-radius: 50%;
}

.exit {
    background: #2ecc71;
}

.control-btn {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.secondary {
    background: #6c757d;
}